<% if (error && error.length) { %>
  <div class="alert alert-danger"><%= error[0] %></div>
<% } %>
<% if (success && success.length) { %>
  <div class="alert alert-success"><%= success[0] %></div>
<% } %>

<form action="/change-password" method="POST">
  <div class="form-group">
    <label>Current Password</label>
    <input type="password" name="currentPassword" class="form-control" required>
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input type="password" name="newPassword" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Confirm New Password</label>
    <input type="password" name="confirmPassword" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Change Password</button>
</form>
