
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Email</th>
      <th>Total Order</th>
      <th>Total Amount</th>
      
    </tr>
  </thead>
  <tbody>
    <% customers.forEach(r => { %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.email %></td>
        <td><%= r.total_sales %></td>
         <td><%= r.total_amount %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
