
<form action="/categories/edit/<%= category.id %>" method="POST">
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" class="form-control" value="<%= category.name %>" required>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
